 
 <html>
    <head>
        <meta charset="utf-8" />
        <style>
        h2
        {
    text-align: center;
    margin-top: 4em;
    color: white; /* Le texte de la page sera blanc */
}

 h3
        {
    text-align: center;
    margin-top: 7em;
    color: white; /* Le texte de la page sera blanc */
}

             body
{
    background: url('../images/feu.gif') top center;
    background-size: 101%;
    color: white; /* Le texte de la page sera blanc */

}

            
        </style>
        
    </head>
   <body>
   <h2> Bienvenue dans le coté obscure de notre site!</h2>
   <h3> (Ici, on joue avec le feu.)</h3>


   </body>



